<mat-card>
    <mat-card-title>Create New Trading Pair</mat-card-title>
    <form [formGroup]="tradingPairForm">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Trading Pair (e.g., BTCUSD)</mat-label>
        <input matInput formControlName="pair" required>
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Miner</mat-label>
        <input matInput formControlName="miner" required>
      </mat-form-field>

      <label id="exchangeType">Exchange: </label>
        <mat-radio-group formControlName="exchangeType" aria-label="Select an Exchange" (change)="onSelectionChange($event)">
          <mat-radio-button value="simulated">Simulated</mat-radio-button>
          <mat-radio-button value="binance">Binance</mat-radio-button>
          <mat-radio-button value="hyperliquid" disabled="true">Hyperliquid</mat-radio-button>
        </mat-radio-group>
      
      <mat-form-field appearance="outline" class="full-width" *ngIf="selectedOption == 'simulated'">
        <mat-label>Back Test Asset 1 Amount</mat-label>
        <input matInput type="number" formControlName="asset1" required>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width" *ngIf="selectedOption == 'simulated'">
        <mat-label>Back Test Asset 2 Amount</mat-label>
        <input matInput type="number" formControlName="asset2" required>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width" *ngIf="selectedOption == 'binance'">
        <mat-label>Binance API KEY</mat-label>
        <input matInput formControlName="binanceApiKey" required>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width" *ngIf="selectedOption == 'binance'">
        <mat-label>Binance Secret KEY</mat-label>
        <input matInput formControlName="binanceSecretKey" required >
      </mat-form-field>
  
      <button mat-raised-button color="primary" (click)="addPair()" [disabled]="!tradingPairForm.valid || isBackTesting">Add Pair</button>
      <button style="margin-left: 10px;" mat-raised-button color="accent" (click)="backtest()" [disabled]="!tradingPairForm.valid || isBackTesting">Back Test</button>
    </form>
  </mat-card>